<#@ template language="C#" hostspecific="True" debug="True" #>
<#@ output extension="cs" #>
<#@ include file="SQLClassGenerator.tt" #>
using System;
namespace DbConnect.Business.MSSQL
{
	<#
		var gen = new SQLClassGenerator();   
				WriteLine(gen.Generate("Data Source=DESKTOP-R4UC6PQ;Initial Catalog=Demirciler;user=sa;pwd=2611"));  
	#>
}